*{
    font-family:'Courier New', Courier, monospace;
    margin: 20px;
    padding: 0;
}
h1,h2{
    margin-bottom: 10px;
    color: rgb(47, 2, 2);
    font-weight: bolder;
}
ul{
    padding-left: 20px;
    color:rgb(92, 6, 6)
}
li{
    margin-bottom: 5px;
}
form{
    margin-bottom: 30px;
}
input{
    padding: 8px;
    margin: 5px 0;
    display: block;
}
.card-container {
    display: flex;
}
.card {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
}
h3{
    text-align: center;
    text-decoration: solid;
}